source [find interface/cmsis-dap.cfg]
adapter driver cmsis-dap
cmsis_dap_vid_pid 0x2e8a 0x000c
transport select swd
adapter speed 1000
source [find target/stm32f3x.cfg]
set BUF_ADDR 0x20001000
init
halt
for {set i 0} {$i < 256} {incr i 4} { mww [expr {$BUF_ADDR + $i}] 0 }
mwh 0x20002000 0xE7FE
mww 0xE000ED88 0
mww 0xE000EDF0 0
mww 0xE000ED94 0
reg r0 0xD0
reg r1 0x00
reg r2 $BUF_ADDR
reg r3 256
reg sp 0x20002800
mww 0x20002800 0x00002000
reg msp 0x20002800
reg lr 0x20002001
reg pc 0x08053931
reg xPSR 0x01000000
echo "BEFORE: pc=[capture { reg pc }]"
# step a handful of instructions to see where it goes
for {set i 0} {$i < 8} {incr i} {
    step
    echo "step $i: pc=[capture { reg pc }] r0=[capture { reg r0 }]"
}
shutdown
